extends layout

block content
  div(class="wrap")
    h1=title
    p An online node & express SMS app
  br
  form(action="/reminder/add" method="post" class="mainWrap")
    input(placeholder="Your name" type="text" class="name" name="sender_name")
    input(placeholder="Send SMS to" type="tel" class="number" name="recipient_number")
    textarea(placeholder="Enter your message" class="mainArea" name="reminder")
    input(type="submit", value="Create Reminder", class="button")
