@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.button {
  display: inline-block;
  background: #1188f0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e8cff), color-stop(100%, #1188f0));
  background: -moz-linear-gradient(center top, #2e8cff 0%, #1188f0 100%);
  -webkit-box-shadow: 0px 5px 0px 0px #006391, 0px -1px 0px 0px #1c95ff inset;
  -moz-box-shadow: 0px 5px 0px 0px #006391, 0px -1px 0px 0px #1c95ff inset;
  box-shadow: 0px 5px 0px 0px #006391, 0px -1px 0px 0px #1c95ff inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  text-shadow: 0px 1px 0px #006ac7;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.button:focus {
  outline: 0;
}
.button:hover {
  background: #1995fa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e8cff), color-stop(100%, #2e8cff));
  background: -moz-linear-gradient(center top, #2e8cff 0%, #2e8cff 100%);
}
.button:active {
  -webkit-box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
  -moz-box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
  box-shadow: 0px 2px 0px 0px #006391, 0px -1px 0px 0px #1491ff inset;
  -webkit-transition: background-position 0.3s linear;
  -moz-transition: background-position 0.3s linear;
  -o-transition: background-position 0.3s linear;
  transition: background-position 0.3s linear;
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  transform: translateY(3px);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: 0;
}
body {
  background: #19dd89;
}
.wrap {
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0px 40px 0px;
}
.wrap h1 {
  font-size: 5em;
  font-family: "Gentium Book Basic";
  font-weight: 900;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -3px;
}
.wrap p {
  font-family: "Gentium Book Basic";
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}
.fa {
  margin-right: 10px;
}
.mainWrap {
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.name,
.number,
.date,
.time {
  width: 49%;
  border: 0;
  background: #fff;
  padding: 20px;
  font-size: 1.2em;
  font-family: "Gentium Book Basic";
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  color: #111;
}
::-webkit-input-placeholder {
  color: #696969;
}
:-moz-placeholder {
  color: #696969;
}
::-moz-placeholder {
  color: #696969;
}
:-ms-input-placeholder {
  color: #696969;
}
.name,
.date {
  float: left;
}
.number,
.time {
  float: right;
}
.mainArea {
  width: 100%;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  font-size: 1.4em;
  margin-top: 20px;
  padding: 20px;
  font-family: "Gentium Book Basic";
  color: #111;
  height: 400px;
  resize: none;
}
.bigBtn {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
  font-family: "Gentium Book Basic";
  background: #ffc60d;
  color: #fff;
  cursor: pointer;
}
/* Landscape mobile & down */
@media (max-width: 30em) {
  .wrap h1 {
    font-size: 2.3em;
    letter-spacing: 0;
  }
  .wrap p {
    font-size: 1.1em;
    line-height: 1.4em;
  }
  .name,
  .number {
    width: 100%;
  }
  .number {
    margin-top: 20px;
  }
  .bigBtn {
    font-size: 1.3em;
  }
}
